.gameCard_wrapper {
  margin: 15px;
  width: 200px;
  height: 200px;
  background-color: #1f4f80;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.gameCard_nickname {
  margin: 5px;
}

.gameCard_tagsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 170px;
  overflow-y: scroll;
}

.gameCard_tags {
  margin-bottom: 2px;
}

.gameCard_button {
  width: 80%;
  margin: 10px;
}
